{#
  Главный шаблон для генерации Python кода Telegram бота
  
  @fileoverview Определяет структуру всего файла бота
  @param {string} botName - Имя бота
  @param {Array} nodes - Массив узлов бота
  @param {boolean} userDatabaseEnabled - Включена ли база данных
  @param {number|null} projectId - ID проекта
  @param {boolean} enableComments - Включить ли комментарии
  @param {boolean} enableLogging - Включить ли логирование
  @param {string} botFatherCommands - Команды для BotFather
  @param {boolean} hasInlineButtons - Есть ли inline кнопки
  @param {boolean} hasAutoTransitions - Есть ли автопереходы
  @param {boolean} hasMediaNodes - Есть ли медиа узлы
  @param {boolean} hasUploadImages - Есть ли ссылки на /uploads/
#}

{# Заголовок и документация #}
{% block header %}
"""
{{ botName }} - Telegram Bot
Сгенерировано с помощью TelegramBot Builder

Команды для @BotFather:
{% if botFatherCommands %}{{ botFatherCommands }}{% else %}
start - Запустить бота{% endif %}
"""

{% include 'partials/header.py.jinja2' %}
{% endblock %}

{# Импорты #}
{% block imports %}
{% include 'partials/imports.py.jinja2' %}
{% endblock %}

{# Конфигурация #}
{% block config %}
{% include 'partials/config.py.jinja2' %}
{% endblock %}

{# База данных #}
{% if userDatabaseEnabled %}
{% block database %}
{% include 'partials/database.py.jinja2' %}
{% endblock %}
{% endif %}

{# Утилиты #}
{% block utils %}
{% include 'partials/utils.py.jinja2' %}
{% endblock %}

{# Middleware #}
{% if userDatabaseEnabled %}
{% block middleware %}
{% include 'partials/middleware.py.jinja2' %}
{% endblock %}
{% endif %}

{# Обработчики узлов #}
{% block handlers %}
{% for node in nodes %}
{% from 'macros/handler.py.jinja2' import render_node_handler %}
{{ render_node_handler(node, enableComments) }}
{% endfor %}
{% endblock %}

{# Универсальные обработчики #}
{% block universal_handlers %}
{% include 'partials/universal-handlers.py.jinja2' %}
{% endblock %}

{# Запуск бота #}
{% block main %}
{% include 'partials/main.py.jinja2' %}
{% endblock %}
